version: '3.8' 

services:
  db:  
    image: postgres:latest  
    environment:  
      POSTGRES_DB: user  
      POSTGRES_USER: denis  
      POSTGRES_PASSWORD: denis  
    ports:  
      - "5432:5432"  
    volumes:  
      - db:/var/lib/postgresql/data  

volumes:  
  db: